In [1]:
# [0.33, 0.66, 1.0] 값을 가지며, ['a', 'b', 'c'] 인덱스를 갖는 series 생성
import pandas as pd
series00 = pd.Series([0.33, 0.66, 1.0], index=['a', 'c', 'd'])
series00

a    0.33
c    0.66
d    1.00
dtype: float64

In [2]:
# ['오징어', '꼴뚜기', 0.75, '바지락'] 값을 가지며, 
# ['a', 'c', 'd','e'] 인덱스를 갖는 series 생성
series01 = pd.Series(['오징어', '꼴뚜기', 0.75, '바지락'], index=['a', 'b', 'c','d'])
series01

a     오징어
b     꼴뚜기
c    0.75
d     바지락
dtype: object

In [3]:
# series00을 'col00' 컬럼, series01을 'coll01' 컬럼으로 하는 dataframe 생성
dataframe00 = pd.DataFrame({'col00': series00, 'col01':series01})
dataframe00

   col00 col01
a   0.33   오징어
b    NaN   꼴뚜기
c   0.66  0.75
d   1.00   바지락

In [4]:
# 'col01' 컬럼 데이터 조회
dataframe00['col01']

a     오징어
b     꼴뚜기
c    0.75
d     바지락
Name: col01, dtype: object

In [5]:
dataframe00

   col00 col01
a   0.33   오징어
b    NaN   꼴뚜기
c   0.66  0.75
d   1.00   바지락

In [6]:
# 명시적 인덱스를 활용하여 데이터 조회
# 'a' 레이블 데이터 조회
dataframe00.loc['a']

col00    0.33
col01     오징어
Name: a, dtype: object

In [7]:
# 암시적 인덱스를 활용하여 데이터 조회
# 0번째 데이터 조회
dataframe00.iloc[0]

col00    0.33
col01     오징어
Name: a, dtype: object

In [8]:
dataframe00

   col00 col01
a   0.33   오징어
b    NaN   꼴뚜기
c   0.66  0.75
d   1.00   바지락

In [9]:
# 명시적 인덱스를 활용하여 데이터 조회
# 'b' 레이블 데이터의 'col01'컬럼 속성값 조회
dataframe00.loc['b', 'col01']

'꼴뚜기'

In [10]:
# 암시적 인덱스를 활용하여 데이터 조회
# 1번째 데이터의 1번째 컬럼 속성값 조회
dataframe00.iloc[1, 1]

'꼴뚜기'

In [11]:
dataframe00

   col00 col01
a   0.33   오징어
b    NaN   꼴뚜기
c   0.66  0.75
d   1.00   바지락

In [12]:
# 수치형 컬럼에 대한 최대, 최소, 합계 조회
dataframe00.min(), dataframe00.max(), dataframe00.sum()

(col00    0.33
 dtype: float64, col00    1.0
 dtype: float64, col00    1.99
 dtype: float64)

In [13]:
# 컬럼별 데이터 개수 조회(null값을 제외한 개수)
dataframe00.count()

col00    3
col01    4
dtype: int64