In [2]:
import pandas as pd
import os

In [4]:
data=pd.read_csv(r"d:/data/실습데이터/car_evaluation.csv", names=['buying','maint','doors','persons','lug_boot','safety','class'], engine='python', delimiter=",")
data.head()

        buying  maint  doors  persons  lug_boot  safety  class
0  buyingprice  maint  doors  persons  lug_boot  safety    NaN
1        vhigh  vhigh      2        2     small     low  unacc
2        vhigh  vhigh      2        2     small     med  unacc
3        vhigh  vhigh      2        2     small    high  unacc
4        vhigh  vhigh      2        2       med     low  unacc

In [5]:
data['class'],class_names = pd.factorize(data['class'])

In [6]:
print(class_names)
print(data['class'].unique())

Index(['unacc', 'acc', 'vgood', 'good'], dtype='object')
[-1  0  1  2  3]

In [7]:
data['buying'],_ = pd.factorize(data['buying'])
data['maint'],_ = pd.factorize(data['maint'])
data['doors'],_ = pd.factorize(data['doors'])
data['persons'],_ = pd.factorize(data['persons'])
data['lug_boot'],_ = pd.factorize(data['lug_boot'])
data['safety'],_ = pd.factorize(data['safety'])
data.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       0      0      0        0         0       0     -1
1       1      1      1        1         1       1      0
2       1      1      1        1         1       2      0
3       1      1      1        1         1       3      0
4       1      1      1        1         2       1      0

In [8]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [9]:
# 데이터 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1729 entries, 0 to 1728
Data columns (total 7 columns):
buying      1729 non-null int64
maint       1729 non-null int64
doors       1729 non-null int64
persons     1729 non-null int64
lug_boot    1729 non-null int64
safety      1729 non-null int64
class       1729 non-null int64
dtypes: int64(7)
memory usage: 94.6 KB

In [17]:
!pip install -U scikit-learn

Collecting scikit-learn
  Downloading https://files.pythonhosted.org/packages/47/a6/5cfab2684c3da61dece651796aefb2542a1970a8ba9b9efee4f730ccd90b/scikit_learn-0.20.3-cp37-cp37m-win_amd64.whl (4.8MB)
Requirement already satisfied, skipping upgrade: numpy>=1.8.2 in c:\users\onycom\appdata\local\programs\python\python37\lib\site-packages (from scikit-learn) (1.16.1)
Requirement already satisfied, skipping upgrade: scipy>=0.13.3 in c:\users\onycom\appdata\local\programs\python\python37\lib\site-packages (from scikit-learn) (1.2.1)
Installing collected packages: scikit-learn
  Found existing installation: scikit-learn 0.20.2
    Uninstalling scikit-learn-0.20.2:
      Successfully uninstalled scikit-learn-0.20.2
Successfully installed scikit-learn-0.20.3

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [21]:
from sklearn import tree, metrics

In [22]:
# train the decision tree
dtree = tree.DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=0)
dtree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=0, splitter='best')

In [15]:
!pip install graphviz

Requirement already satisfied: graphviz in c:\users\onycom\appdata\local\programs\python\python37\lib\site-packages (0.10.1)

In [23]:
import graphviz
feature_names = X.columns

dot_data = tree.export_graphviz(dtree, out_file=None, filled=True, rounded=True,
                                feature_names=feature_names,  
                                class_names=class_names)
graph = graphviz.Source(dot_data)  
graph

AttributeError: module 'graphviz' has no attribute 'Source'